@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-green: #2eb89c;
  --color-amber_deep: #6b3b17;
  --color-amber_light: #bf7614;
  --color-black_bg: #101318;
  --color-white_bg: #f8fafc;
  --color-black_card: #191d24;
  --color-deep_green: #132324;
  --color-deep_orange: #251f17;
}
